.whole{
    width:80%;
    margin: 10vh auto;
    display:flex;
    font-family: "MingLiU";
    letter-spacing:2px;

  }
  /*左側*/
  .left{
    width:40%;
    margin-right: 5%;
}
 .archives-taiwan{
    width:60%;
    height: 11vh;
    text-align: center;
    margin: 5vh auto;
    font-size: 1.8rem;
    letter-spacing: 2px;
    border: 2px solid #efffee;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  
 }
 .archives-taiwan p{
  width:96%;
  height: 87%;
  line-height: 3.5rem;
  border-radius: 5px;
  margin: 0;
  border:2px solid #efffee;
  overflow: hidden;
  font-family: "MingLiU";
  color: #efffee;
 }
 .archives-taiwan span{
  font-family: "Alegreya SC";
 }
  
  /*地圖編輯區*/
  svg {
    height: 80vh;
    width:100%;
  }
  g,#Penghu-County{
    stroke: #0ba50036;
    fill:#efffee
  }
  g#taiwan-north:hover, 
  g#taiwan-south:hover,
  g#taiwan-mid:hover,
  g#taiwan-east:hover, 
  g#japan-north:hover,
  g#japan-south:hover,
  g#japan-mid:hover,
  g#japan-east:hover,
  g#usa-north:hover,
  g#usa-south:hover,
  g#usa-mid:hover,
  g#usa-east:hover{
    fill:#83080aa6;
    transform: translate(-5px,-5px);
    cursor: pointer;
  }
  #placemark-taiwan-north,
  #placemark-taiwan-south,
  #placemark-taiwan-east,
  #placemark-taiwan-mid,
  #placemark-japan-north,
  #placemark-japan-south,
  #placemark-japan-east,
  #placemark-japan-mid,
  #placemark-usa-north,
  #placemark-usa-south,
  #placemark-usa-east,
  #placemark-usa-mid{
  
    fill:#891b1b;
    transition: all 0.5 linear;
  }
  #placemark-taiwan-north:hover,
  #placemark-taiwan-south:hover,
  #placemark-taiwan-east:hover,
  #placemark-taiwan-mid:hover,
  #placemark-japan-north:hover,
  #placemark-japan-south:hover,
  #placemark-japan-east:hover,
  #placemark-japan-mid:hover,
  #placemark-usa-north:hover,
  #placemark-usa-south:hover,
  #placemark-usa-east:hover,
  #placemark-usa-mid:hover{
  
    fill:#bf0707;
    stroke: #bf0707;
    stroke-width: 5px;
    transition: all 0.5 linear;
  }
  #placemark-usa-north:hover,
  #placemark-usa-south:hover,
  #placemark-usa-east:hover,
  #placemark-usa-mid:hover{
    stroke-width: 3px;
  }
  .upmove{
    transform: translate(-5px,-5px);
  }
 

/*gallery(右側)開始*/
.gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 55%;
    margin: 0;
    align-content: flex-start;
    justify-content: flex-start;
    gap:0 5%;
  }
  .gallery-title{
    width:100%;

    font-family: "Noto Sans TC";
    color:#efffee;
    overflow: hidden;
    font-size: 2rem;
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
  }
  /*檔案圖列那一排*/
  #t{
    font-size: 1.6rem;
  }
  #t-n,#t-s,#t-m,#t-e{
    font-size: 1.4rem;
    display: none;
  }
  .smallspan{
    font-size:1.5rem;
  }
  /*檔案圖片區*/
  
  .gallery_item {
    
    width: calc(90%/3);
    height:40vh;
    padding: 0;
    margin-bottom: 7%;
    border: 2px solid #efffeeaa;
  
  }
  
  
  
  .gallery_item-link {
    width: 100%;
    height: 100%;
    opacity: 0;
    background-image: linear-gradient(to top, rgb(0, 0, 0), transparent);
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  
  }
  
  .gallery_item-link span {
    margin-bottom: 10px;
    color: #efffee;
  }
  
  .gallery_item-link:hover {
    opacity: 1;
  }
  
  .gallery_item-img {
    width: 100%;
    height: 100%;
    display: block;
    /*background-color: azure;*/
    z-index: 100;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.7;
  
  }
  .gallery_item-img.tg1{
    background-image: url("../img/taiwan/tg1.png");

  }
  .gallery_item-img.tg2{
    background-image: url("../img/taiwan/tg2.png");
  }
  .gallery_item-img.tg3{
    background-image: url("../img/taiwan/tg3.png");
  }
  .gallery_item-img.tg4{
    background-image: url("../img/taiwan/tg4.png");
  }
  .gallery_item-img.tg5{
    background-image: url("../img/taiwan/tg5.png");
  }
  .gallery_item-img.tg6{
    background-image: url("../img/taiwan/tg6.png");
  }
  .gallery_item-img.jg1{
    background-image: url("../img/japan/jg1.png");
  }
  .gallery_item-img.jg2{
    background-image: url("../img/japan/jg2.png");
  }
  .gallery_item-img.jg3{
    background-image: url("../img/japan/jg3.png");
  }
  .gallery_item-img.jg4{
    background-image: url("../img/japan/jg4.png");
  }
  .gallery_item-img.jg5{
    background-image: url("../img/japan/jg5.png");
  }
  .gallery_item-img.jg6{
    background-image: url("../img/japan/jg6.png");
  }
  .gallery_item-img.jg7{
    background-image: url("../img/japan/jg7.png");
  }
  .gallery_item-img.jg8{
    background-image: url("../img/japan/jg8.png");
  }
  .gallery_item-img.jg9{
    background-image: url("../img/japan/jg9.png");
  }
  .gallery_item-img.ag1{
    background-image: url("../img/usa/ag1.png");
  }
  .gallery_item-img.ag2{
    background-image: url("../img/usa/ag2.png");
  }
  .gallery_item-img.ag3{
    background-image: url("../img/usa/ag3.png");
  }
  .gallery_item-img.ag4{
    background-image: url("../img/usa/ag4.png");
  }
  .gallery_item-img.ag5{
    background-image: url("../img/usa/ag5.png");
  }
  .gallery_item-img.ag6{
    background-image: url("../img/usa/ag6.png");
  }
  .gallery_item-img.ag7{
    background-image: url("../img/usa/ag7.png");
  }
  .gallery_item-img.ag8{
    background-image: url("../img/usa/ag8.png");
  }
  .gallery_item-img.ag9{
    background-image: url("../img/usa/ag9.png");
  }

  /*modal區*/
  #modal-close1,#modal-close2,#modal-close3,#modal-close4,#modal-close5,#modal-close6, #modal-close7, #modal-close8, #modal-close9, #modal-close10 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #modal-close1:hover,
  #modal-close1:focus ,
  #modal-close2:hover,
  #modal-close2:focus ,
  #modal-close3:hover,
  #modal-close3:focus ,
  #modal-close4:hover,
  #modal-close4:focus ,
  #modal-close5:hover,
  #modal-close5:focus ,
  #modal-close6:hover,
  #modal-close6:focus,
  #modal-close7:hover,
  #modal-close7:focus,
  #modal-close8:hover,
  #modal-close8:focus,
  #modal-close9:hover,
  #modal-close9:focus,
  #modal-close10:hover,
  #modal-close10:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
  }
  
  #modal-background1, #modal-background2,#modal-background3,#modal-background4,#modal-background5,#modal-background6,
  #modal-background7,#modal-background8,#modal-background9,#modal-background10{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    opacity: .50;
    filter: alpha(opacity=50);
    z-index: 1000;
    overflow: auto;
  }
  
  #modal-content1,  #modal-content2,  #modal-content3,  #modal-content4,  #modal-content5,  #modal-content6,
  #modal-content7,#modal-content8,#modal-content9,#modal-content10 {
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 30px 0 rgb(0, 0, 0);
    border: 1px dashed rgb(98, 0, 0);
    display: none;
    padding: 10px;
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70%;
    height: 80%;
    overflow: auto;
    padding-bottom: 5%;
    z-index: 1000;
  }
  
  #modal-background1.active,
  #modal-content1.active, 
  #modal-background2.active,
  #modal-content2.active,
  #modal-background3.active,
  #modal-content3.active,
  #modal-background4.active,
  #modal-content4.active,
  #modal-background5.active,
  #modal-content5.active,
  #modal-background6.active,
  #modal-content6.active,
  #modal-background7.active,
  #modal-content7.active,
  #modal-background8.active,
  #modal-content8.active,
  #modal-background9.active,
  #modal-content9.active,
  #modal-background10.active,
  #modal-content10.active{
    display: block;
  }
  .modal-content-area{
    width:97%;
    height:100%;
    z-index: 1001;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .modal-content-img{
    width:45%;
    height: 90%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
  }
  .modal-content-text{
    margin-top: 2%;
    width:53%;
    height:90%;
  }
  .modal-content-img img{
    margin-top: 10%;
    width:80%;
    height: 100%;
  }
  .modal-content-img p{
    color:#efffee;
    width: 80%;
 

    font-family: "Noto Sans TC";
   font-size: 1rem;
  }

  .modal-content-text h1{
    color:#efffee;
    font-family: "Noto Sans TC";
    }
  .modal-content-text p{
    padding-right: 10%;
    font-family: "Noto Sans TC";
    font-size: 0.9rem;
    line-height: 1.5rem;
    color:#efffee;
    letter-spacing: 0.5px;
    padding-bottom: 10%;

  }
  strong{
    font-size: 1.2rem;
    color:#963d3d;
  }
  I{
    color:#efffeec6;
  }
  
  

 